# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia

Some of the commonly used libraries used by Data Scientists include:
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn

| Data Science Tools |
|--------------------|
| R Studio |
| VS code |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries
* Create a table of Data-science tools
* Convert minutes to hours

## Author
Anvesh Chitneni